<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 

<main class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <h1 class="display-5">Add a New Product</h1>

            <form action="/products" method="POST">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Product Name">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">&#8377;</span>
                        </div>
                        <input type="text" class="form-control" name="price" placeholder="price" aria-label="price" aria-describedby="basic-addon1">
                      </div>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image Url</label>
                    <input type="text" class="form-control" name="img" id="img" placeholder="Enter Image URL">
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Give Some Description</label>
                <textarea class="form-control" name="desc" id="desc"  rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-small">Submit</button>
            </form>
            

        </div>

    </div>
    
</main>

<%- include("../partials/footer") %> 